{% extends "layout.html" %}

{% block title %}
	Edit Note
{% endblock %}

{% block body %}
	{% if session.logged_in %}
		<div class="panel add_note_panel">
			<div class="head">
				<span class="title">Edit Note</span>
			</div>
			<div class="body"> 
				<form action="{{ url_for('edit_note', edit_note_id=note_id) }}" method=post class=add-note>
					<dl>
						<dt>Title:
						<dd><input type=text size=40 name=title class="round_text_box" value="{{ note.title }}">
						<dt>Text:
						<dd><textarea name=text rows=5 cols=38 class="round_text_box">{{ note.text }}</textarea>
						<dd>
					</dl>
					<input class="button" type=submit value=Save>
				</form>

				<a href="{{ url_for('show_main_page') }}"><div class="button" > Cancel </div></a>
			</div>
		</div>
	{% endif %}
{% endblock %}