<!doctype html>
<title>Notes</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{ url_for('static', filename='background.js') }}"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	TeX: {
		equationNumbers: {  autoNumber: "AMS"  },
		extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
	},
	tex2jax: {
		inlineMath: [['$','$'], ['\\(','\\)']],
	    processEscapes: true	
	}
});
</script>
<script type="text/javascript"
 src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<body onload="getBackground()">
<div class=page id="background"></div>
<div class=page>
	<div class="header">
		<div class=metanav>
		{% if not session.logged_in %}
			<span class="button"><a href="{{ url_for('login') }}">log in</a></span>
		{% else %}
			<span class="button">
				<a href="{{ url_for('oauth2callback') }}">log in to google</a>
			</span>
			<span class="button">
				<a href="{{ url_for('logout') }}">log out</a>
			</span>
			<span class="button">
				<a href="{{ url_for('add_website') }}">add website</a>
			</span>
			<span class="button">
				<a href="{{ url_for('add_note') }}">add note</a>
			</span>
		{% endif %}
		</div>
		<span class="main_title">{% block title %}{% endblock %}</span>
	</div>
	<div id="content">
	{% for message in get_flashed_messages() %}
		<span class="flash hide_me">{{ message }}</span>
	{% endfor %}
	{% block body %}{% endblock %}
	</div>
</div>
</body>