html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: #eee;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.main_title {
	margin: 0;
	font-size: 400%;
}

#background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #18121E;
	z-index: -1000;
}

.page {
}

div.header {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
	text-shadow: 0px 0px 8px #000000;
	color: #FFFFFF;
	padding: 20px;
	margin: 0px;
	height: 150px;
}

#content {
	padding: 2em;
}

.button {
	background-color: #328CC1;
	color: white;
	padding: 5px;
	border-radius: 10px;
	float: right;
	margin: 0.2em 0.2em;
	border: none;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.button a {
	text-decoration: none;
	color: white;
}

.button:hover {
	cursor: pointer;
}

.panel_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.square, .panel {
	margin: 0.8em 0.8em;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
	float: left;
}

.site_panel {
	width: 350px;	
}

.note_panel {
	width: 350px;	
}

.add_site_panel {
	width: 450px;	
}

.add_note_panel {
	width: 450px;	
}

.login_panel {
	width: 350px;
}

.panel a {
	text-decoration: none;
}

.head {
	padding: 0.4em;
	font-weight: bold;
}

.note_panel div.head {
	background-color: #1D2731;
	color: white;
}

.site_panel div.head {
	background-color: #233237;
	color: white;
}

.panel div.head span.title{
	color: #EEE;
	font-size: 24px;
}

.panel div.head .panel_button{
	background: none;
	border: none;
	float: right;
	color: #555;
	padding: 5px;
	display: block;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}

.panel div.head .panel_button:hover {
	cursor: pointer;	
	color: #777;
}

.panel div.body, .square div.body {
	background-color: #FAFAFA;
	padding: 0.5em;
	color: #777;
	box-shadow: inset 0px 4px 1px -2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.add-site {
	font-size: 0.9em;
	border-bottom: 1px solid #ccc;
}

.add-site dl {
	font-weight: bold;
}

.metanav {
	text-align: right;
	padding: 0.3em;
	margin-bottom: 1em;
}

.flash {
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
	margin-bottom: 1em;
}

.error {
	background: #f0d6d6;
	padding: 0.5em;
}

.inline {
	display: inline;
}

.calendar_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.calendar_event {
	width: 150px;
	background-color: white;
	margin: 10px;
	text-align: center;
	height: auto;
}

.calendar_event .head {
	background-color: #0B3C5D;
	color: white;
}

@-webkit-keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}

@keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}

.fadeOut {
	opacity: 0;
	-moz-animation   : fadeout 1s linear;
	-webkit-animation: fadeout 1s linear;
	animation        : fadeout 1s linear;
}

.round_text_box {
    padding: 3px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}

/* Make definition list in-line */
dt {
    display: block;
    float: left;
    margin-right: 1em;
}

dt, dd {
	margin-bottom: 1em;
}

.responsive_area_wrapper {
	min-width: 350px;
	width:auto;
	overflow: hidden;
}
.responsive_panel_area {
	min-width: 350px;
	width:48%;
	float: left;   
}
.calendar_area {
	overflow: hidden;
	float: right;
}